version: '3'
services:
  postgres:
    container_name: postgres
    image: knw1234/postgres
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 2048M
        reservations:
          memory: 2048M
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: 1234
    network_mode: bridge
